* @mohit-kumar-sharama/proffer

# resources

/resources/aws/common                      @mohit-kumar-sharama
/resources/aws/copyami                      @mohit-kumar-sharama
/resources/aws/shareami                     @mohit-kumar-sharama
